@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}
body{
    min-height: 100vh;
    width: 100vw;
    header{
        height: 12vh;
        display: flex;
        border-bottom: 1px solid black;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        figure{
            height: 80%;
            flex-grow: 1;
            img{
                height: 100%;
            }
        }
        nav{
            flex-basis: 85%;
            height: 100%;
            display: flex;
            align-items: center;
            ul{
                flex-basis: 100%;
                height: 50%;
                display: flex;
                justify-content: space-around;
                list-style: none;
                align-items: center;
                li{
                    flex-basis: 20%;
                    height: 50%;
                    padding: 20px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 2px solid #c9a227;
                    }
                    a{
                        font-size: 1.8rem;
                        cursor: pointer;
                        flex-basis: 100%;
                        text-align: center;
                    }
                   
                }
                
                .registerButton {
                    font-size: 1.8rem;
                    cursor: pointer;
                    border-radius: 10px;
                    border: none;
                    background-color: #fad643;
                    color:rgb(42, 15, 83);
                    }
            }
        }
        
        .hamburgerMenu{
            display: none;
            margin-right: 2%;
            i{
                font-size: 2.5rem;
                cursor: pointer;
            }
        }
    }
    main{
        min-height: 88vh;
        display: flex;
        flex-direction: column;
        .workers{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            h1{
                flex-basis: 10%;
                font-size: 4rem;
                text-align: center;
                margin-top:5%;
                color: rgb(42, 15, 83);
            }
            p{
                text-align: center;
                font-size: 18px;
                color: rgb(42, 15, 83);
            }
            .workers-list{
                margin-top: 5%;
                position: relative;
                justify-content: space-around;
                flex-grow: 1;
                display: flex;
                width: 100%;
                .worker{
                    cursor: pointer;
                    text-align: center;
                    .worker-name, .worker-profession{
                        font-size: 1.8rem;
                    }
                    img{
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 50%;
                        
                    }
                    .worker-description{
                        position: absolute;
                        left: 0;
                        padding: 0 10%;
                        top: 50%;
                        left:calc(80% - 60%);
                        font-size: 2rem;
                        width: 60%;
                        display: none;
                        .closeWorkerDescription{
                            font-size: 20px;
                            font-weight: 600;
                            position: absolute;
                            right: 10px;
                            top: 10px;
                        }
                    }
                }
            }
        }   
        .register, .login, .visit, .user{
            display: none;
            flex-direction: column;
            width: 100%;
            align-items: center;
            height: 88vh;
            position: absolute;
            background-color: #fff;
            h2{
                font-size: 3rem;
                text-transform: uppercase;
                margin: 3rem;
            }
            .registerForm,#loginForm, #bookingForm{
                display: flex;
                flex-direction: column;
                width:50%;
                padding: 5% 10%;
                .formDataContainer{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5%;
                    label{
                        flex-basis: 40%;
                        font-size: 1.8rem;
                    }
                    input{
                        flex-basis: 60%;
                        font-size: 1.8rem;
                        border-radius: 10px;
                        border:1px solid #0f084b;
                        
                    }
                    #confirmRegisterForm, #confirmLoginForm{
                            margin-top: 5%;
                            padding: 10px;
                            flex-basis:50%;
                            margin-left: 25%;
                            text-transform: uppercase;
                            border:2px solid #c9a227;
                            background-color: #fad643;
                            color: #0f084b;
                            font-weight: 500;
                            font-size: 20px;
                        }

                }
            }
        }

        .visit{
            #bookingForm{
                width: 100%;
                display: flex;
                align-items: center;
                div{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    label{
                        font-size: 20px;
                    }
                    input, select{
                        font-size: 20px;
                        width: 40%;
                    }
                }
                #bookVisitBtn{
                   margin-top: 5%;
                   padding: 10px;
                   flex-basis: 50%;
                   margin-left: 25%;
                   text-transform: uppercase;
                   border: 2px solid #c9a227;
                   background-color: #fad643;
                   color: #0f084b;
                   font-weight: 500;
                   font-size: 20px;
                }
            }
        }


    }
    footer {
        position: absolute;
        top: 100vh;
        width: 100%;
        border-top: 1px solid rgb(42, 15, 83);
        height: 30vh;
        .footer-content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            div{
                text-align: center;
                h4{
                    font-size: 24px;
                    color: #c9a227;
                }
                p{
                font-size:16px;
                }
                
                a{
                   padding: 10px;
                    i{
                    font-size: 30px;
                    color: rgb(42, 15, 83);
                    &:hover{
                        color: #c9a227;
                    }
                    }
                }
                ul{
                    list-style: none;
                    li{
                        a{
                        font-size: 16px; 
                        text-decoration: none;
                        color:rgb(42, 15, 83);
                        }
                    }
                }
            }
            .contact-info{
                p{
                    text-align: left;
                }
            }
        }
        .footer-bottom{
            text-align: center;
            p{
            font-size: 16px;
            }
        }
    }

}
@media screen and (max-width: 800px){
    body{
       
        header{
            padding: 0px 0px;
            nav {
                display: none;  
                position: absolute;
                top: 12vh;
                height: 88vh;
                width: 100vw;
                background-color: #fff;
                z-index: 100;
                ul {
                    flex-direction: column;
                    align-items: center;
                    height: 100%; 
                    justify-content: flex-start;
                    li{
                        margin-top: 10%;
                        width:40%;
                        flex-basis: 10%;
                    }
                    }
                }
           
            .hamburgerMenu{
                display: block;
            }
            }        
        .workers{
            .workers-list{
                flex-direction: column;
                height: 100vh;
                .worker{
                    display: flex;
                    flex-basis: 20%;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .worker-description {
                            position: relative;
                            display: none;
                            z-index: 100;
                            align-items: center;
                            margin-top: 150px;
                            height: 500px;
                            background-color: white;
                        
                        }
                }
            }
        }
        footer{
            position: absolute;
            height: 50vh;
            .footer-content{
                flex-direction: column;
                .contact-info{
                    p{
                    text-align: center;
                    }
                }
            }
            top:200vh;
        }
    
    }
        
        .active{
            display: flex;
        }

}
     


//helpers


.selected-worker{
    border:5px solid #c9a227;
}

#welcomeMessage{
    width:200px;
    height: 200px;
    font-size:20px;
    z-index: 100;
}

