@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}
body{
    min-height: 100vh;
    width: 100vw;
    header{
        height: 12vh;
        display: flex;
        border-bottom: 1px solid black;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        figure{
            height: 80%;
            flex-grow: 1;
            img{
                height: 100%;
            }
        }
        nav{
            flex-basis: 85%;
            height: 100%;
            display: flex;
            align-items: center;
            ul{
                flex-basis: 100%;
                height: 50%;
                display: flex;
                justify-content: space-around;
                list-style: none;
                align-items: center;
                li{
                    flex-basis: 20%;
                    height: 50%;
                    padding: 20px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-size: 1.8rem;
                        cursor: pointer;
                        flex-basis: 100%;
                        text-align: center;
                    }
                }
                .registerButton {
                    font-size: 1.8rem;
                    cursor: pointer;
                    border-radius: 10px;
                    border: none;
                    background-color: lightblue;
                    }
            }
        }
        
        .hamburgerMenu{
            display: none;
            margin-right: 2%;
            i{
                font-size: 2.5rem;
                cursor: pointer;
            }
        }
    }
    main{
        .register{
            display: none;
        }
    }

}
@media screen and (max-width: 800px){
    body{
        header{
            padding: 0px 0px;
            nav {
                display: none;  
                position: absolute;
                top: 12vh;
                height: 88vh;
                width: 100vw;
                ul {
                    flex-direction: column;
                    align-items: center;
                    height: 100%; 
                    justify-content: flex-start;
                    li{
                        margin-top: 10%;
                        width:40%;
                        flex-basis: 10%;
                    }
                    }
                }
           
            .hamburgerMenu{
                display: block;
            }
            }

        .active{
            display: flex;
        }
        }
    }      


//helpers
 .visible {
     visibility: visible;
 }

