@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  width: 100vw;
}
body header {
  height: 12vh;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
body header figure {
  height: 80%;
  flex-grow: 1;
}
body header figure img {
  height: 100%;
}
body header nav {
  flex-basis: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}
body header nav ul {
  flex-basis: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
body header nav ul li {
  flex-basis: 20%;
  height: 50%;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav ul li a {
  font-size: 1.8rem;
  cursor: pointer;
  flex-basis: 100%;
  text-align: center;
}
body header nav ul .registerButton {
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: lightblue;
}
body header .hamburgerMenu {
  display: none;
  margin-right: 2%;
}
body header .hamburgerMenu i {
  font-size: 2.5rem;
  cursor: pointer;
}
body main {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
}
body main .workers {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .workers h1 {
  flex-basis: 10%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5%;
  border-bottom: 1px solid black;
}
body main .workers .workers-list {
  margin-top: 5%;
  position: relative;
  justify-content: space-around;
  flex-grow: 1;
  display: flex;
  width: 100%;
}
body main .workers .workers-list .worker {
  cursor: pointer;
  text-align: center;
}
body main .workers .workers-list .worker .worker-name, body main .workers .workers-list .worker .worker-profession {
  font-size: 1.8rem;
}
body main .workers .workers-list .worker img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body main .workers .workers-list .worker .worker-description {
  position: absolute;
  left: 0;
  padding: 0 10%;
  top: 50%;
  font-size: 2rem;
  border: 1px solid black;
  display: none;
}
body main .register, body main .login, body main .visit, body main .user {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 88vh;
  position: absolute;
  background-color: #fff;
}
body main .register h2, body main .login h2, body main .visit h2, body main .user h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 3rem;
}
body main .register .registerForm, body main .login .registerForm, body main .visit .registerForm, body main .user .registerForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5% 10%;
  border: 1px solid #0f084b;
  border-radius: 10%;
}
body main .register .registerForm .formDataContainer, body main .login .registerForm .formDataContainer, body main .visit .registerForm .formDataContainer, body main .user .registerForm .formDataContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
body main .register .registerForm .formDataContainer label, body main .login .registerForm .formDataContainer label, body main .visit .registerForm .formDataContainer label, body main .user .registerForm .formDataContainer label {
  flex-basis: 40%;
  font-size: 1.8rem;
}
body main .register .registerForm .formDataContainer input, body main .login .registerForm .formDataContainer input, body main .visit .registerForm .formDataContainer input, body main .user .registerForm .formDataContainer input {
  flex-basis: 60%;
  font-size: 1.8rem;
  border-radius: 10px;
  border: 1px solid #0f084b;
}
body main .register .registerForm .formDataContainer #confirmRegisterForm, body main .login .registerForm .formDataContainer #confirmRegisterForm, body main .visit .registerForm .formDataContainer #confirmRegisterForm, body main .user .registerForm .formDataContainer #confirmRegisterForm {
  margin-top: 5%;
  padding: 10px;
  flex-basis: 50%;
  margin-left: 25%;
  text-transform: uppercase;
  border: 2px solid #c9a227;
  background-color: #fad643;
  color: #0f084b;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  body header {
    padding: 0px 0px;
  }
  body header nav {
    display: none;
    position: absolute;
    top: 12vh;
    height: 88vh;
    width: 100vw;
    background-color: #fff;
  }
  body header nav ul {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }
  body header nav ul li {
    margin-top: 10%;
    width: 40%;
    flex-basis: 10%;
  }
  body header .hamburgerMenu {
    display: block;
  }
  body .active {
    display: flex;
  }
}
.selected-worker {
  border: 5px solid #c9a227;
}

#welcomeMessage {
  width: 200px;
  height: 200px;
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */